* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('/images/background.jpg'); /* Background */
    background-size: cover;        /* Maximize image full screen */
    background-position: center;   /* Center image  */
    background-repeat: no-repeat;  /* Prevent image from repeating */
    background-attachment: fixed;  /* Keep the background fixed even when the page is scrolled */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.profile {
    margin-bottom: 20px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 3px #0056b3;
    object-fit: cover;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-top: 10px;
}

p {
    font-size: 14px;
    color: #777;
}

.social-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.link {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.link:hover {
    background-color: #0056b3;
}
